<h2 style='margin-top: 0px'>Book your garden</h2>
<%= simple_form_for [garden, booking] do |f| %>
  <p>When do you want to rent this garden?</p>

  <%= f.input :start_date, as: :string, required: false, id: 'booking-start-date', label: false, input_html: {class: "datepicker"} %>

  <p>Until what date?</p>
  <%= f.input :end_date, as: :string, required: false, id: 'booking-end-date', label: false, input_html: {class: "datepicker"} %>
  <br>
  <span style='padding-top: 10px; font-weight: bold; font-size: 17Px;'>
    <span id="number-days"></span>
    <span>€ total price</span>
    <span id="garden-price" style='display: none;'><%= garden.price %></span>
  </span>

  <div class="button text-center">
  <%= f.submit "Book", class: "btn btn-success book-button", id: "button_sweet_alert" %>
  </div>
<% end %>
