<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <% if @my_bookings.empty? %>
          <%= "Sorry, you still don't have any bookings..." %>
        <% else %>
            <% @my_bookings.each do |booking| %>
            <div class="card-product">
              <% if booking.garden.photo.present? %>
              <%= cl_image_tag booking.garden.photo %>
              <% else %>
              <%= image_tag 'toit.png' %>
              <% end %>
              <div class="card-product-infos">
                <%= booking.garden.title  %>
                <p> <%= booking.garden.description %>
                <% if booking.start_date.nil? || booking.end_date.nil? %>
                 <%= %>
                <% else %>
                  <% total_days = (booking.end_date - booking.start_date) * booking.garden.price %>
                 <p> Total price : <strong> <%= total_days.to_i %> </strong>€</p>
                 <% end %>
              </div>
              <div class="dates">
               <p><%= booking.start_date %></p>
               <p><%= booking.end_date %></p>
              </div>
              <div class="boutons">
               <%= link_to 'See my booking', booking_path(booking), class:'btn btn-green' %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>



