<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <% if @my_bookings.empty? %>
          <%= "Sorry, you still don't have any bookings..." %>
        <% else %>
            <% @my_bookings.each do |booking| %>
            <div class="card-product">
              <% if booking.garden.photo.present? %>
              <%= cl_image_tag booking.garden.photo %>
              <% else %>
              <%= image_tag 'toit.png' %>
              <% end %>
              <div class="card-product-infos">
                  <%= booking.garden.title  %>
                <p> <%= booking.garden.description %></p>
                <p> <strong> <%=booking.garden.price %> € </strong></p>
              </div>

              <div class="boutons">
               <%= link_to 'See my booking', booking_path(booking), class:'btn btn-primary' %>
              </div>

            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>



