<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
      <div class="card">

          <div class="card-header">
            <h2>Congrats, you booked: <%= @booking.garden.title %></h2>
          </div>


          <div class="card-body" id="booking_id">

            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h4>at: <%= @booking.price %></h4></li>

              <li class="list-group-item"><h5>From: <%= @booking.start_date %></h5></li>

              <li class="list-group-item"><h5>To: <%= @booking.end_date %></h5></li>

              <li class="list-group-item"><h5>at: <%= @booking.garden.user.email %></h5></li>

              <li class="list-group-item"><h5><%= @booking.garden.user.email %>'s place! </h5></li>
            </ul>
          </div>

      </div>
    </div>

  </div>
</div>
