<div class="container">
  <div class="row" id="booking_card">
    <!-- <div class="col-xs-12 col-md-6 col-lg-6"> -->

      <img class="img-responsive" id="booking_garden_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @booking.garden.photo %>');">


      <div class="card" id="booking_result">
          <div class="panel-header" id="booking_header">
            <p>Welcome in</p>
            <%= @booking.garden.user.first_name %>'s place!
          </div>
          <div class="panel-body" id="booking_body">
            <p>You just booked</p>
            <h5 ><%= @booking.garden.title %></h5>
            <p ><%= @booking.garden.address %></p>
            <div id="booking_dates">
              <h6>From:<br><%= @booking.start_date %></h6>
              <h6>To:<br> <%= @booking.end_date %></h6>
            </div>
            <p>
              <% if @booking.start_date.nil? || @booking.end_date.nil? %>
               <%= %>
              <% else %>
                <% total_days = (@booking.end_date - @booking.start_date) * @booking.garden.price %>
               <p> Total price : <strong> <%= total_days.to_i %> </strong>€</p>
               <% end %>
            </p>
            <p>You can contact <%= @booking.garden.user.first_name %> to have more information ( gardeners near the garden, witch seeds to plant in what season; How to grow in silence...</p>
            <br>
            <a class="btn btn-outline-success" href="mailto:<%= @booking.garden.user.email %>?subject=GardenParty.com : <%= @booking.garden.title %> is booking&body=Dear <%= "#{@booking.garden.user.first_name}, your Garden - #{@booking.garden.title} - #{@booking.garden.address}, is booking from:  #{@booking.start_date} to: #{@booking.end_date}. You should receive #{total_days.to_i} € for this period. Regards - Garden Party, the easiest way to grow in silence.".html_safe %>"role="button">Email <%= @booking.garden.user.first_name %></a>

          </div>
      </div>

       <div  id="booking_map">
        <div
          id="map"
          style="width: 100%;
          height: 93vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="pk.eyJ1IjoiYW1hdXJ5Y2hhYm9jaGUiLCJhIjoiY2pydWdkdWM1MDRoeTQ0cDlpZmJibjI4YiJ9.r5kkC2C8yVGlRtA0GO4JBw" >
        </div>
      </div>
<!--     </div> -->
  </div>
</div>



