<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<h1>Congrats, you booked:</h1>
<%= @booking.garden.title %>
<h2>at: </h2>
<%= @booking.price %>
<h3>From: </h3>
<%= @booking.start_date %>
<h3>To: </h3>
<%= @booking.end_date %>
<h3>at: </h3>
<%= @booking.garden.user_id %>
<h3>'s place! </h3>
