
 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= image_path("gard.png")%>')" >
  <div class="container" >
    <h1>  <strong> Find the perfect garden to grow your plants</strong></h1>
    <p>Try it if you want to live longer ... </p>
    <a class="btn btn-success" href="#">Find a Garden </a>
  </div>


</div>
<div class="container">

  <div class="row">
    <div class="col-xs-8">
      <% @gardens.each do |garden| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <% if garden.photo.present? %>

            <div class="card card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path garden.photo %>')" >
            <%= link_to garden.title, garden_path(garden.id), class:"cokname" %>
            </div>
          <% else %>

            <div class="card card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= image_path("toit.png")%>')">
              <%= link_to garden.title, garden_path(garden.id) , class:"cokname" %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="col-xs-12 col-md-6 col-lg-4" id="special">
        <%= link_to "Add a new one" , new_garden_path , class:"card card-index" , id:"lastcard"%>
      </div>
    </div>
    <div class="col-xs-4 mapping">
      <div id="map" style="height: 300px"></div>
    </div>
  </div>
</div>
