
 <div class="banner index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= image_path('gard.png')%>')" >

  <div class="container">
    <h1>  <strong> Find the perfect garden to grow your plants</strong></h1>
    <%= render 'findagarden' %>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <% @gardens.each do |garden| %>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <%= link_to garden_path(garden.id), :action => 'go' do %>
            <div class="card-trip">
              <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path garden.photo %>')" data-garden-id="<%= garden.id %>" >
              </div>
              <div class="card-trip-infos">
                <div>
                  <h2> <%= garden.title %></h2>
                  <p> <%= garden.product %></p>
                </div>
                <h3 class="card-trip-pricing"><%= garden.price %>€/day </h3>
                <%= image_tag garden.user.photo , class:'card-trip-user avatar-bordered' %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='col-xs-5'
      id="map"
      style="width: 40%;
      height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="pk.eyJ1IjoiYW1hdXJ5Y2hhYm9jaGUiLCJhIjoiY2pydWdkdWM1MDRoeTQ0cDlpZmJibjI4YiJ9.r5kkC2C8yVGlRtA0GO4JBw"
    >
    </div>
  </div>
</div>








