<h1>Gardens#new</h1>
<p><%= simple_form_for(@garden) do |f| %>
  <% if @garden.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @garden.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :user_id, label: 'username' %>
  <%= f.input :title, label: 'title' %>
  <%= f.input :address, label: 'address' %>
  <%= f.input :description, label: 'description' %>
  <%= f.input :surface, label: 'surface' %>
  <%= f.input :price, label: 'price' %>
  <%= f.input :product, collection: ["tomates", "salades", "haricots", "choux", "radis", "courgettes"] %>
  <%= f.button :submit %>[...] all the fields -->
<% end %></p>
