<div class="banneri" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path("snow.png")%>')" >
  <div class="container">
    <div class="row specific">
      <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 container form-container">
        <p><%= simple_form_for(@garden) do |f| %>
          <% if @garden.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @garden.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.input :title, label: 'title' %>
          <%= f.input :address, label: 'address' %>
          <%= f.input :description, label: 'description' %>
          <%= f.input :surface, label: 'surface' %>
          <%= f.input :price, label: 'price' %>
          <%= f.input :product, collection: ["tomates", "salades", "haricots", "choux", "radis", "courgettes"] %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit %>
        <% end %></p>
      </div>
    </div>
  </div>
</div>

