<% if @garden.photo.present? %>
  <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @garden.photo %>');">
  </div>

<% else %>
  <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path("toit.png")%>')">
  </div>
<% end %>

<div class="container">

  <div style="display: flex; justify-content: space-around; margin-top: 40px">
    <div class="info-container">
      <h2 style="margin-top: 0px"><%= @garden.title.capitalize %></h2>
      <p><%= @garden.description.capitalize %></p>
      <% if @garden.product.present? %>
      <p><i class="fas fa-apple-alt"></i> Here you can grow <%= @garden.product %></p>
      <% end %>
      <p><i class="fas fa-dollar-sign"></i> Rent this garden for <%= @garden.price %>€ per day</p>
      <p><i class="fas fa-map-marker-alt"></i> <%= @garden.address %></p>
    </div>

    <div class="avatar-box">
      <% if @garden.user.photo.present? %>
        <div class="avatar" style="background-image: url('<%= cl_image_path @garden.user.photo %>');">
        </div>
      <% else %>
        <div class="avatar" style="background-image: url('<%= image_path("avatar.png")%>');">
        </div>
      <% end %>
      <p><%= @garden.user.first_name %></p>
    </div>

      <% if @garden.user == current_user %>
        <div class="edit-container">
          <%= link_to 'Edit my Garden', edit_garden_path(@garden.id), class: 'btn btn-warning text-center'  %>
          <%= link_to 'Delete my Garden', garden_path(@garden), method: :delete, data:{ confirm: "Are you sure you want to delete this garden?"}, class: 'btn btn-danger text-center'  %>
        </div>
      <% else %>
    <div class="booking-container">
    <%= render 'bookings/form', booking: @booking, garden: @garden %>
    </div>
      <% end %>

  </div>


</div>
